[submodule "monodepth/mannequin_challenge"]
	path = monodepth/mannequin_challenge
	url = git@github.com:siavashk/mannequinchallenge.git
[submodule "monodepth/midas_v2"]
	path = monodepth/midas_v2
	url = git@github.com:siavashk/MiDaS-1.git
[submodule "monodepth/monodepth2"]
	path = monodepth/monodepth2
	url = git@github.com:siavashk/monodepth2.git
[submodule "third_party/OpticalFlowToolkit"]
	path = third_party/OpticalFlowToolkit
	url = git@github.com:insertiq-organisation/OpticalFlowToolkit.git
[submodule "third_party/colmap"]
	path = third_party/colmap
	url = git@github.com:insertiq-organisation/colmap.git
[submodule "third_party/flownet2"]
	path = third_party/flownet2
	url = git@github.com:insertiq-organisation/flownet2-pytorch.git
